

<div class="container" @specficTrig 
(@specficTrig.start)="onAnimationStart($event)"
 >

    <div class="display" 
     
    >
        <h5>Back Url: {{urlIfBack}}</h5>
        <h5>SelectedIDX: {{selectedImgUrl}}</h5>
        <h5>Next Url: {{urlIfNext}}</h5>
        <h4 class="dir" >Direction {{direction}}</h4>
        <h4 class="state">Animate to State: {{transformCenterImg}}</h4>
    </div>
    <!--[@moveleftright]="transformCenterImg"-->
    <div *ngIf="false"  @show id="carousel-slide" class="carousel-slide" >
        <img *ngFor="let img of images; let i = index" [src]="img" [alt]="i">
    </div>

    <div *ngIf="true"  id="carousel-slide" class="carousel-slide"
        [@btnClicked]="direction==='left'? 'left': 'center' " 
     >
            <img *ngIf="true" [src]="urlIfBack" alt="">
            <img>
            <img *ngIf="true"   [src]="urlIfNext" alt="">
    </div>

    <div class="cta">
        <button class="backBtn" mat-raised-button (click)="onButtonClicked('back')">
            left
        </button>
        <button class="nextBtn" mat-raised-button
            (click)="onButtonClicked('next')"
        >
            Next
        </button>
    </div>

</div>


