

<div class="container" 
    appCarousel 
    [maxIdx]="images.length-1" 
    [speed]="800">

    <div class="caro-container">
        <div class="example-button-container">
            <button mat-fab 
            style="background: transparent;color:grey" 
            class="nextBtn" aria-label="Example icon button with a home icon">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
        </div>

        <div id="carousel-slide" class="carousel-slide" >
            <img *ngFor="let img of images; let i = index" [src]="img" [alt]="i">
        </div>

         <div class="example-button-container">
            <button mat-fab class="backBtn" style="background: transparent;color:grey"  aria-label="Example icon button with a home icon">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
        </div>
    </div>

    

</div>

    

