
<!-- [@InAndOut]="isDrawerOpen? 'in': 'out'"-->

<mat-sidenav-container 
  [hasBackdrop]="true" 
  class="sidenav-container"
 >
    <mat-sidenav
      #sidenav="sidenav"
      sidenav
      (toggleDrawer)="onTest($event);drawer.toggle()"
      #drawer
      [@InAndOut]="isDrawerOpen? 'in': 'out'"
      (closedStart)="onClosedStart($event)"
      (openedStart)="onOpenedStart($event)"
      [fixedInViewport]="true"
      [attr.role]="'dialog'"
      [mode]="'over'"
      [ngStyle]="{'width': w}"
      [position]="'start'"
      [opened]="false">

      <!--(click)="drawer.toggle()"-->

        <button 
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            class="hamburger"
             id="nav-top">
            <mat-icon class="menu-icon" aria-label="Side nav toggle icon">close</mat-icon>
        </button>
  
        <mat-nav-list class="nav-list"  >
             <app-menu-list
                class="sidenav" 
             [isMobile]="isMobile$ | async"
                         
             ></app-menu-list>
          </mat-nav-list>
    
    </mat-sidenav>

  <mat-sidenav-content
 
   class="sidenav-content">

    <button mat-icon-button class="menu-btn"  (click)="drawer.toggle()"  
    
    aria-label="Example icon button with a home icon">
        <mat-icon class="menu-icon">menu</mat-icon>
    </button>
  
    <!--Router Outlet-->
    <ng-content></ng-content> 
  
  </mat-sidenav-content>

</mat-sidenav-container>