@import "../../../styles.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
  }
}


.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //align-items: center;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    //border: 2px dashed red;
    //background:rgb(97, 153, 97);
}

.info{

  position: relative;
  display: flex;
  justify-content: flex-start;
  height: fit-content;
  width: 100%;

}

.article-image{
  float: left;
  width: 100%;
  color: orange;
  
  .text{
    color: green;
    padding: 0% 0rem;
  }
  
  img{
    float: left;
    width: 150px;
    height: 100%;
    object-fit: cover;
  }
  
}

.title{
  position: absolute;
  display: flex;
  top:70%;
  left:60%;
  transform: translate(-50%,-50%);
  //background:orangered;
  width: fit-content;
  padding: 0% 2%;
  z-index: 40;
  
  h4{
    @include header-mobile;  
    color:$header-color;
  }
}

.content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 1rem;
  margin: 3px 0%;
  width: 95%;

  p{
    opacity: 0;
  }

  p:first-of-type{
    @include sub-header-mobile;
    width: 100%;
    opacity: 1;
  }

}


.profile-image-container{
  position: relative;
  display: flex;
  justify-content: flex-start;
  //background: orange;
  margin-left: 0%;

  img{
    position: relative;
    width: 200px;
    height: 700px;
    object-fit: cover;
    object-position: 70%;
    filter: grayscale(100%);
  }
}

.images-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

  img{
    position: relative;
    width: 90vw;
    height: 100%;
    object-fit: contain;
    margin: 2px 0%;
  }
}

.description{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 10%;
  background:pink;

  p{
    @include content-mobile;
  }

  p ~ p {
    margin-top: 0.5em;
    letter-spacing: 0.1px;
  }
}

.carousel-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 90vw;
  //background:orangered;
}