
<div class="container" *ngIf="singleDesigner" >

    <div class="info">

    <div *ngIf="true" class="title"> 
        <h4>{{singleDesigner.name}}</h4>
    </div>

    <div *ngIf="true" class="profile-image-container">
        <img [src]="singleDesigner.profileimage">    
    </div>

    <div class="content">
    <p *ngFor="let d of singleDesigner.intro">
            {{d}}
        </p>
    </div>

    </div>
    
    <div *ngIf="false" class="carousel-container">
        <app-carousel [height]="450" [width]="275" [images]="singleDesigner.images" ></app-carousel>
    </div>

    <div *ngIf="true" class="images-container">
        <img *ngFor="let s of singleDesigner.images" [src]="s" alt="">
    </div>
    
</div> 


