
<ng-template #designersdesktop>
    <app-designers-desktop></app-designers-desktop>
</ng-template>

<div id="top" [@loadUnload] class="container" *ngIf="(isMobile$ | async);else designersdesktop" >
 
    <div class="header">
        <h1>{{header}}</h1>
    </div>

    <div class="img-container">
        <img class="mat-elevation-z1" [src]="images[0]" alt="">
    </div>

    <div class="content">
        <p *ngFor="let c of contentOne" >
            {{c}}
            <br>
        </p>
    </div>

    <div (click)="layoutService.scrollToSection('top')" >
        <h4>Top</h4>
    </div>

</div>