 
<ng-template #detailsSecondary let-data="data" >
    <div>
        <app-menu-list-item-desktop [menuItem]="data" ></app-menu-list-item-desktop>
    </div>
</ng-template> 

 
<div class="menu-container">

    <div class="primary-menu"> 
            <div class="nav-block" 
           
            [@InAndOut]="isOpened?'opened':'closed'" *ngFor="let item of menuItems" >
                 <h1 #elem
                  #sidenav="sidenav"
                    sidenav
                    (click)="sidenav.onItemClicked(item.clickable)"
                    [routerLink]="item.clickable ? [item.url] : []"
                  (mouseover)="onMouseoverPrimaryItem(item);expanded=true"
                  (mouseleave)="expanded=false"
                 >{{item.header}}</h1> 
                 <mat-icon class="icon"
                    [@indicatorRotate]="expanded ? 'expanded': 'collapsed'"
                  *ngIf="item.subMenuItems">add</mat-icon>            
            </div>
    </div>

    <div class="secondary-menu">
        <ng-container *ngIf="secondaryMenuContext$ | async as secondaryMenuContext">
            <div [@reveal] class="portal" *ngxShowDetails="secondaryMenuContext"> 
                <ng-template *ngTemplateOutlet="detailsSecondary; context: {data: secondaryMenuContext}" ></ng-template>
            </div>
        </ng-container>   
     </div>
</div>