@import "../../../styles.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    //background: $cool-pink;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    //background: $cool-blue;

    h1{
        @include header-desktop;
    }

}

.content-container{
    position: relative;
    display: flex;
    flex-direction: column;
    //background: orange;
}

.section{
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    //background: pink;
    margin: 0% 2%;

    @media (min-width:1200px){
        margin: 2% 200px;

    }

    &:nth-child(odd){
        flex-direction: row-reverse;

        .content{
            margin-left: 0%;
            //flex: 50%;

            @media (min-width:1200px){
                margin-left: 2%;
            }
        }
    }

    .img-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        //background: $cool-grey;
        flex: 50%;
    
        .gmap {
            margin: auto;
            width: 80%;
            height: 60vh;
            //max-height: 350px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            border: solid 2px transparent;
        }
    }

    

}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 50%;
    //background: orangered;
    //outline: 2px $cool-pink solid;


    p{
        font-family:$din-font;
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing:1.5px ;
        color:$header-color;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 80%;
        text-align: justify;
    } 
}

.contact-container{
    display:flex;
}

.some{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    top:70%;
    left:-4%;
    transform: rotate(-90deg);
    //background: olive;

   
    a{
        font-family: $menu-font;
        font-weight: 700;
        font-size: 0.95rem;
        padding: 10px;
        text-decoration: none;
        color: $header-color;

        @media (min-width: 768px){
            font-size: 1.3rem;
        }

    }

}








    

    


