
<ng-template #customdesktop>
    <app-custommade-desktop></app-custommade-desktop>
</ng-template>

<div id="top" [@loadUnload]
    (@loadUnload.done)="onLoadDone($event)"
 class="container" *ngIf="(isMobile$ | async);else customdesktop" >
 
    <div class="header">
        <h1>{{header}}</h1>
    </div>

<!-- [@imagefun]="state"
        (@imagefun.done)="onAnimDone($event)"-->

    <div   
       
        class="merge">

            <div 
       [@imagefun]="state"
        (@imagefun.done)="onAnimDone($event)"     
            
            class="img-container">
                <img
            
                class="mat-elevation-z1" [src]="images[0]" alt="">
            </div>

            <div class="content c">
                <p [id]="'c_' + i" *ngFor="let c of contentOne; let i=index" >
                    {{c}}
                    <br>
                </p>
            </div>

    </div>

    <div class="img-container">
        <img class="mat-elevation-z1" [src]="images[1]" alt="">
    </div>

    <div class="content">
        <p *ngFor="let c of contentTwo" >
            {{c}}
            <br>
        </p>
    </div>

    <div (click)="layoutService.scrollToSection('top')" >
        <h4>Top</h4>
    </div>

</div>