
<ng-template #customdesktop>
    <app-custommade-desktop></app-custommade-desktop>
</ng-template>

<div id="top" [@loadUnload]
    class="container" *ngIf="(isMobile$ | async);else customdesktop" >
 
    <div class="header">
        <h1>{{header}}</h1>
    </div>

    <div class="img-container">
        <!--<img class="logo" [src]="logoUrl">-->
        <img  class="img mat-elevation-z1" [src]="images[0]" alt="">
    </div> 

    <div class="content c">
        <p *ngFor="let c of contentOne; let i=index" >
            {{c}}
            <br>
        </p>
    </div>

    <div class="img-container">
        <img class="mat-elevation-z1" [src]="images[1]" alt="">
    </div>

    <div class="content">
        <p *ngFor="let c of contentTwo" >
            {{c}}
            <br>
        </p>
    </div>

    <div class="top" (click)="layoutService.scrollToSection('top')" >
        <h4>Top</h4>
    </div>

</div>