@import "../../../styles.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    //background:$background-color;
    color: $text-color;
    //background: orange;

    @media (min-width: 768px){
        justify-content: center;
    }
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0%;
    margin-top: 4em;
    //background: orangered;
    
    h1{
        @include header-mobile;
        width: 100%;
        height: 100%;
        text-align: center;
        //line-height: 3rem;
    }
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 1rem;
    margin: 0%;
    width: 90%;
    //background: orange;
    margin: 2rem auto;
    //margin-bottom:2rem;

    @media (min-width: 768px){
        width: 75%;
    }
   
    p{
        @include content-mobile;
        width: 95%;
        line-height: 1.5rem;
        text-align: center;
        //background: olive;
    }
}


.gmap {
    position: relative;
    display: flex;
    width: 90%;
    height: 40vh;
    max-height: 350px;
    margin:auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: solid 2px transparent;
}

.some{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    top:90%;
    left:-4%;
    transform: rotate(-90deg);
    //background: olive;

    @media (min-width: 768px){
        left:0%;
        top:85%;
    }

    a{
        font-family: $menu-font;
        font-weight: 700;
        font-size: 0.95rem;
        padding: 10px;
        text-decoration: none;
        color: $text-color;

        @media (min-width: 768px){
            font-size: 1.3rem;
        }

    }

}

.contact-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0%;
    //background: olivedrab;
}




