<ng-template #finddesktop>
    <app-find-desktop></app-find-desktop>
</ng-template>

<div class="container" *ngIf="(isMobile$ | async);else finddesktop" >
   
    <div class="header-container">
        <h1>Find <span class="vaerkstedet">Vaerkstedet</span></h1>
    </div>

    <div class="sub-header-container">
        <h4>I Ryesgade - Nørrebros hjerte</h4> 
    </div>

    <div class="text-container">
          <p>
             Uanset om du går <span class="attention">målrettet</span> efter et smykke, som du har
            set her, eller om du blot ønsker at lade dig inspirere,
            så ser jeg frem til at tage imod dig i min hyggelige
            <span class="deco">værkstedsbutik</span> i Ryesgade.
          </p>
    </div>
    
    <div class="map-container">
        <div class="gmap-location" >
            <iframe title="Vaerkstedet location" class="gmap mat-elevation-z4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4497.904610221482!2d12.558997183979079!3d55.68981696571406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652530118e2a62b%3A0x718d3ead6416b138!2sRyesgade+4%2C+2200+K%C3%B8benhavn+N!5e0!3m2!1sda!2sdk!4v1512823788758">
            </iframe>
        </div>
    </div>
    
    <div class="contact-container">
        <app-footer></app-footer>
    </div>

    <div class="some-container">
        <a href="{{instaUrl}}" target="_blank">
            instagram
        </a>
        <a href="{{fbUrl}}" target="_blank">
            facebook
        </a>
    </div>

  <div class="footer">
  </div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111006523-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());

gtag('config', 'UA-111006523-2');

</script>