@import "../../../styles.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    //background:$background-color;
    color: $text-color;
    //background: orange;
}



span{
    &.deco{
        background:darken($cool-pink,5%);
        padding: 2px 4px;
        font-weight: 700;
        font-family: $header-font;
    }
}

.header-container{
    position: relative;
    display: flex;
    //background: olivedrab;
    justify-content: center;
    align-items: center;
    color: $text-color;

    h1{
        @include header;    
    }

    span {
        &.vaerkstedet{
            @include vaerkstedet;
            background: $cool-pink;
            height: 100%;
            font-size: 2.4rem;
            padding: 0% 1%;
        }
    }
}

.sub-header-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    //background: orchid;

    h4{
        font-family: $header-font;
        font-size: 1.5rem;
        color:$text-color;
    }
}

.text-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2% auto;
    //background: orange;

    p{
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 300;
        font-family: $text-font;
        color: $text-color;
        text-align: justify;
    }
}

.gmap {
    position: relative;
    display: flex;
    width: 80%;
    height: 40vh;
    max-height: 350px;
    margin:auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: solid 2px transparent;
}

.some{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    top:87%;
    left:-4%;
    transform: rotate(-90deg);

    @media (min-width: 768px){
        left:0%;
    }

    a{
        font-family: $menu-font;
        font-weight: 700;
        font-size: 0.95rem;
        padding: 10px;
        text-decoration: none;
        color: $text-color;

        @media (min-width: 768px){
            font-size: 1.3rem;
        }

    }

}