<ng-template #finddesktop>
    <app-find-desktop></app-find-desktop>
</ng-template>

<div class="container" *ngIf="(isMobile$ | async);else finddesktop" >
   
    <div class="header">
        <h1>{{header}}</h1>
    </div>

    <div class="content">
        <p>
            {{content}}
        </p>
    </div>
    
    <div class="map-container">
            <iframe title="Vaerkstedet location" class="gmap mat-elevation-z4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4497.904610221482!2d12.558997183979079!3d55.68981696571406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652530118e2a62b%3A0x718d3ead6416b138!2sRyesgade+4%2C+2200+K%C3%B8benhavn+N!5e0!3m2!1sda!2sdk!4v1512823788758">
            </iframe>
    </div>
    
    <div class="contact-container">
        <app-footer></app-footer>
    </div>

    <div class="some">
            <a href="{{instaUrl}}" target="_blank">
                ins
            </a>
            <a href="{{fbUrl}}" target="_blank">
                fb
            </a>
    </div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111006523-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());

gtag('config', 'UA-111006523-2');

</script>