<div class="navblock">

    <div *ngIf="menuItem.subHeader"  class="header">
        <h6>{{menuItem.subHeader}}</h6>  
    </div>

    <div class="list-item">
        <!--The main Item Header-->
        <a mat-list-item 
            #sidenav="sidenav"
            sidenav
            (click)="sidenav.onItemClicked(menuItem.clickable);onItemSelected()"
            class="anchor main-item-header"
            [routerLink]="menuItem.clickable ? [menuItem.url] : []"
            [ngClass]="{'vaerkstedet': menuItem.header=='Vaerkstedet','active': menuItem.url ? router.isActive(menuItem.url, true): false, 'expanded': expanded}"
            >{{menuItem.header}}
        </a>

        <!--The expand Icon-->
        <ng-container *ngIf="menuItem.subMenuItems">
                        <mat-icon
                        (click)="onItemSelected()"
                        class="icon"
                        [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                        expand_more
                        </mat-icon>
        </ng-container>

        <!--The sub elements *ngIf="expanded"-->
        <div class="sub-menu" *ngIf="expanded" @subMenuReveal >
            <ul >
                <li *ngFor="let subItem of menuItem.subMenuItems" 
                    #sidenav="sidenav"
                    sidenav
                    [routerLink]="[subItem.url]"
                    (click)="sidenav.onItemClicked(subItem.clickable)"
                    class="sub-item-header" > {{subItem.header}}
                </li>
            </ul>
        </div> 

    </div>

   
</div>