<div class="navblock"
   >

    <div class="header">
        <h6>{{menuItem.header}}</h6>  
    </div>

    <div class="list-item">
        <a mat-list-item 
            class="anchor"
            (click)="onItemSelected(); onMainItemClicked(menuItem.url)"
            [ngClass]="{'vaerkstedet': menuItem.header=='Vaerkstedet','active': menuItem.url ? router.isActive(menuItem.url, true): false, 'expanded': expanded}"
            >{{menuItem.header}}
        </a>

        <ng-container *ngIf="menuItem.subMenuItems">
                        <mat-icon
                        (click)="onItemSelected()"
                        class="icon"
                        [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                        expand_more
                        </mat-icon>
        </ng-container>

        <div class="sub-menu" [@reveal] *ngIf="expanded">
            <ul>
                <li *ngFor="let subItem of menuItem.subMenuItems" 
                    (click)="onMainItemClicked(subItem.url)"
                    class="sub-item" > {{subItem.header}}
                </li>
            </ul>
        </div> 

    </div>

   
</div>