@import "../../../styles.scss";

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
  }
}

$clr-primary: lighten($cool-pink,0%);
$clr-secondary: darken($cool-pink,10%);

.navblock{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    //background: olive;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    background: $clr-secondary;
    width: 100%;
    height: 100%;

    h6{
        color: $text-color;
        padding: 0% 12px;
        margin: auto 0%;
        font-family: $sub-header-font;
        font-style: italic;
        font-size: 1rem;
    }
}

.list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: darken($cool-pink,0%);
    width: 100%;
    font-family: $text-font;
    font-weight: 1000;
}

.anchor{
    position: relative;
    display: flex;
    font-family: $header-font;
    font-size: 1rem;
    font-weight: 500;
    color: $text-color;
}

.main-item-header{
    @include header-mobile;
    font-size: 1.2rem;
}

.icon{
    //background: palegreen;
    top:0%;
    transform: translate(0%,0%);
    position: absolute;
    color: $text-color;
    transform: scale(1);
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
}

.vaerkstedet{
    font-family: $din-font;
    font-size: 1.25rem;
    //font-weight: 700;
    color: darken($cool-grey,20%);
    color:$header-color;
    text-transform: uppercase;
    //letter-spacing: 1.05px;
}

.sub-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background: $clr-secondary;
    padding: 10px 0%;
     width: inherit;
    border-top: 1px $clr-secondary solid;
    border-bottom: 1px darken($cool-pink,0%) solid;
    border-width: 80%;

    .sub-item-header{
        position: relative;
        display: flex;
        font-size: 1.15rem;
        color: $text-color;
        text-decoration: none;
        list-style: none;
        width: inherit;
        padding-left: 20px;
        margin: 0.75rem 0%;
        font-family: $din-font;
        font-weight: 400;
        color: $cool-blue;
        text-transform: uppercase;
        //font-weight: 600;

    }

    .sub-item + .sub-item{
        margin-top: 15px;
    }

}

