<div class="navblock"
   
   >

    <div class="header"
    
    >
        <h6>{{menuItem.header}}</h6>  
    </div>

    <div class="list-item">
        <!--The expand Icon-->
        <a mat-list-item 
            #sidenav="sidenav"
            sidenav
            (click)="sidenav.onItemClicked(menuItem.clickable);onItemSelected()"
            class="anchor"
            [routerLink]="menuItem.clickable ? [menuItem.url] : []"
            [ngClass]="{'vaerkstedet': menuItem.header=='Vaerkstedet','active': menuItem.url ? router.isActive(menuItem.url, true): false, 'expanded': expanded}"
            >{{menuItem.header}}
        </a>

        <!--The expand Icon-->
        <ng-container *ngIf="menuItem.subMenuItems">
                        <mat-icon
                        (click)="onItemSelected()"
                        class="icon"
                        [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
                        expand_more
                        </mat-icon>
        </ng-container>

        <!--The sub elements-->
        <div class="sub-menu" [@reveal] *ngIf="expanded">
            <ul>
                <li *ngFor="let subItem of menuItem.subMenuItems" 
                    #sidenav="sidenav"
                    sidenav
                    [routerLink]="[subItem.url]"
                    (click)="sidenav.onItemClicked(subItem.clickable)"
                    class="sub-item" > {{subItem.header}}
                </li>
            </ul>
        </div> 

    </div>

   
</div>