<ng-template #landingdesktop>
    <app-landing-desktop></app-landing-desktop>
</ng-template>

<div class="test" *ngIf="(isMobile$ | async);else landingdesktop">
    <div class="logo-container">
         <img [src]="logoUrl">
    </div>
</div>

<div class="container" *ngIf="false">
        <div class="frame"    >
            <div class="bg-container"
                appSage 
                (scrollDirection)="onScroll($event)">
             
                    <ng-container 
                        *ngFor="let b of images; let i = index">
                        
                        <div class="bg" 
                            [ngClass]="state==='UP'? 'bg_zoom':'' "
                            *ngIf="isVisible(i)"
                            [style.background-image]="'url(' + b + ')'">

                            <div class="rect"></div>
                            
                            <div class="darken-overlay"></div>

                            <div class="header" >
                                <h2>{{headers[i]}}</h2>
                            </div>

                            <div class="sub-header" >
                                <h4>{{subHeaders[i]}}</h4>
                            </div>

                        </div>
                    </ng-container>
            </div>
        </div>
</div>
