@import "../../../styles.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  &:focus {
    outline: none !important;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
}

.section{
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  //margin: 30px 0%;
  //background: lighten($cool-pink,5%);

  &:nth-child(odd){
   //background: $cool-pink;
   //background: lighten($cool-blue2,0%);
  }

 
}
