<ng-template #desktop >
    <app-menu-list-desktop [isOpened]="isOpened"></app-menu-list-desktop>
</ng-template>

<ng-template #mobile >
    <div class="menu-container">
       
        <div class="menu">
            <div class="navblock" *ngFor="let item of menuItems">
                <app-menu-list-item 
                  
                    (anyMenuItemClickedAndToggleDrawer)="onMenuItemClicked($event)"
                    [menuItem]="item"></app-menu-list-item>
            </div>
        </div>

        <div class="footer">
            <app-footer></app-footer>
        </div>

    </div>
</ng-template>

<div class="container">

        <div [ngSwitch]="isMobile">
            <div *ngSwitchCase="true">
                <ng-container *ngTemplateOutlet="mobile"></ng-container>
            </div>
            <div *ngSwitchDefault  >
                <ng-container *ngTemplateOutlet="desktop"></ng-container>
            </div>
        </div>

</div>