
<div    
    class="container"
    [ngStyle]="{'background': backgroundColor}"
    [ngClass]="{'row-reverse': currentState==='complete'}">

    <div class="content" >

        <div class="logo-container" [@btnseq]="currentState">
            <img [src]="logoUrl">
        </div>
        
        <h2 [@headerseq]="currentState"
            (@headerseq.start)="onHeaderAnimation($event)" 
            (@headerseq.done)="onHeaderAnimation($event)"
            [ngClass]="{'hide':!showHeader}" 
             >
            {{header}}
        </h2>
             
        <h4 [@subheaderseq]="currentState"
            (@subheaderseq.start)="onSubHeaderAnimation($event)" 
            (@subheaderseq.done)="onSubHeaderAnimation($event)"
            [ngStyle]="{'background': backgroundColor}"
             >
            {{subHeader}}
        </h4>

        <button class="btn" [routerLink]="url" 
            [@btnseq]="currentState" mat-raised-button>
            {{btnCaption}}
        </button>

    </div>

    <div class="img-container" 
        [@imageseq]="currentState"
        (@imageseq.done)="onImageAnimation($event)" >
        <img class="mat-elevation-z1" [src]="imgUrl" alt="">
    </div>

</div>