
<div    
    class="container"
    [ngStyle]="{'background': backgroundColor}"
    [ngClass]="{'row-reverse': currentState==='complete'}">

<!--[@contentseq]="{value: currentState, params: { delay: (isMobile? '1500ms': '300ms'), background: (isMobile? 'rgba(244,204,201,0.7)': 'transparent') }}"-->
<!--[ngStyle]="{background:'rgba(244, 204, 201, 0.8)'}"-->
    <div class="content"
        [ngStyle]="{ width: (currentState==='complete' && isMobile)?'100vw':'60vw', left: (currentState==='complete' && isMobile)? '0vw' : '0vw'}"
        [ngClass]="{'pos-absolute': (currentState==='complete' && isMobile), 'content-desktop': isDesktop}"
     >

        <div *ngIf="isDesktop" class="logo-container" [@btnseq]="currentState">
            <img [src]="logoUrl">
        </div>
        
        <h2 [@headerseq]="currentState"
            (@headerseq.start)="onHeaderAnimation($event)" 
            (@headerseq.done)="onHeaderAnimation($event)"
            [ngClass]="{'hide':!showHeader}" 
             >
            {{header}}
        </h2>
           <!-- [ngStyle]="{'background': backgroundColor}"-->  
        <h4  [@subheaderseq]="currentState"
            (@subheaderseq.start)="onSubHeaderAnimation($event)" 
            (@subheaderseq.done)="onSubHeaderAnimation($event)"
             >
            {{subHeader}}
        </h4>

        <button class="btn" [routerLink]="url" 
            [@btnseq]="currentState" mat-raised-button>
            {{btnCaption}}
        </button>

    </div>

    <div class="img-container" 
        
        [@imageseq]="currentState"
        (@imageseq.done)="onImageAnimation($event)" >
        <img class="mat-elevation-z1" [src]="imgUrl" alt="">
    </div>

</div>