@import "../../../styles.scss";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 4rem 0%;

    h1{
        @include header-mobile;
        line-height: 4rem;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0%;
    width: 90%;

    @media (min-width: 768px){
        width: 75%;
    }

    p:last-of-type{
        border-right: 10px solid $cool-pink;
        padding-right: 2rem;
        margin: 1rem 0%;
    }

    p:first-of-type{
        @include sub-header-mobile;
        width: 100%;
    }
   
    p{
        @include content-mobile;
        width: 90%;
    }
}

.img-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .logo{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        
        @media (min-width:768px){
        }
    }


    img{
        width: 80%;
        height: 100%;
        object-fit: cover;
        z-index: 2;

        @media (min-width:768px){
            height: 450px;
            width: 600px;
            object-fit: cover;
        }
    }
}




