@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|EB+Garamond:ital,wght@1,500&display=swap'");

//Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'|

@font-face {
    font-family: "DIN";
    src: url("/assets/fonts/DIN/D-DINCondensed.woff2") format("woff");
} 
 


//Base fonts
$din-font: DIN;
$eb-font: 'EB Garamond', serif;
$popping-font: "Poppins", sans-serif;


$menu-font: $popping-font;
$header-font: $din-font;
$sub-header-font: $eb-font;
$form-font: $popping-font;
$text-font: $din-font;

$background-color: #c8cad3;
$header-color: rgb(73, 72, 72);
$text-color: rgb(32, 31, 31);

$cool-pink: #f4ccc9;
$cool-pink2: #d8564d;
$cool-white: #ffffff;
$cool-green: #34441d;

$cool-grey: #5c5d61;
$cool-blue: #2c3e50;
$cool-blue2: #0E0F21;
$cool-blue3: #adbabd;
$cool-blue4: #91b7c7;
$cool-blue5: #07070d;
$cool-blue6: #0D1D41;


  