@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,700|Work+Sans:300,400,700|Lora:400,700&display=swap'");

@font-face {
    font-family: "DIN";
    src: url("/assets/fonts/DIN/D-DINCondensed.woff2") format("woff");
} 

$din-font: DIN;


  